//- [Header Section]
//- Variables
- var descrp_institut = "Institut Spécialisé En Nouvelles Technologies D'information Et De Communication"
- var navigation_list = ['acceuil','qui nous','notre espace','contact']
header.header1
    h1= descrp_institut
    nav
        ul
            li
                a(href="#")= navigation_list[0]
            li
                a(href="#")= navigation_list[1]
            li
                a(href="#")= navigation_list[2]
            li
                a(href="#")= navigation_list[3]